/* ========================
======  FONTS IMPORT ======
==========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* ======================
======  COMMON CSS ======
*/

:root {
    --main-color: #8865FF;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-100: #f7f7f7;
    --black-400: #555555;
    --black-000: #ffffff;
    --black-alfa-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: #fff;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body.dark {
    background: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--main-color);
    --shadow-black-100: var(--shadow-black-300);
    --black-alfa-100: rgba(255, 255, 255, 0.05);
    --black-900: #ffffff;
    --black-400: #bbb;
}

* {
    margin: 0;
    padding: 0;
    outline: none!important;
}

img {
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

ul {
    list-style-type: none;
}

.btn-1 {
    background-color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: #fff;
    background-color: var(--main-color);
}

.btn-2 {
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-2:focus {
    box-shadow: var(--shadow-black-100);
}

.btn-2:hover {
    color: var(--main-color);
    background-color: #fff;
}


/* ===========================
==== KEYFRAME AREA CSS ==== */


/* 
@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin_02 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
} */


/* 
@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0px);
    }
} */

@keyframes pulse_01 {
    0% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.section-padding {
    padding: 80px 0;
    clear: both;
}

.section-title {
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px!important;
    color: var(--black-900)!important;
    font-weight: 700!important;
    text-transform: capitalize!important;
    text-align: center!important;
    margin: 0!important;
}

.section-title h2 span {
    color: var(--main-color);
}

.owl-carousel .owl-dots {
    padding: 0 15px;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    height: 5px;
    width: 24px;
    background: #ddd;
    border-radius: 5px;
    margin: 0px 4px;
    display: inline-block;
}

.owl-carousel button.owl-dot.active {
    background-color: var(--main-color);
}


/* ======================================
====== SCROLL EFFECT THEME STYLE ========
========================================*/

.carousel-lft {
    opacity: 0;
}

.carousel-lft .animate__animated {
    opacity: 1;
}

.carousel-up {
    opacity: 0;
}

.carousel-up .animate__bounceInUp {
    opacity: 1;
}

.carousel-down {
    opacity: 0;
}

.carousel-down .animate__bounceInDown {
    opacity: 1;
}

.carousel-right {
    opacity: 0;
}

.carousel-right .animate__bounceInRight {
    opacity: 1;
}


/* ======================
======  NAVBAR CSS ======
*/

.navbar {
    /* background-color: var(--main-to-dark-color); */
    padding: 20px 0;
    transition: all 0.5s ease;
}

.navbar.navbar_srink {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 10px 0;
}

.navbar>.container {
    padding: 0 15px;
}

.navbar.navbar_srink .navbar-brand {
    color: #8865FF;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: rgb(86, 216, 233);
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left: 40px;
}

.navbar .nav-item .nav-link {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar.navbar_srink .nav-item .nav-link {
    color: #8865FF;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: #fff;
    transition: all ease 0.5s;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}


/* ======================
======  HOME STYLE CSS ======
*/

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

.home {
    height: 100vh;
    padding: 150px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.home_text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 45px;
    font-weight: 500;
    color: #fff!important;
    margin: 0 0 20px;
}

.home_text p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin: 0;
    font-weight: 300;
}

.home .home-btn {
    margin-top: 40px;
}

.home .home-btn .play-btn {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    background: var(--main-color);
    padding: 0px 15px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30%;
    animation: pulse_01 2s ease infinite;
}

.home .home-btn .play-btn {
    line-height: 50px;
}

.home .home-btn .play-btn:hover {
    animation: none;
    box-shadow: var(--shadow-black-300);
}

.home-img img {
    max-width: 250px;
    width: 100%;
    position: relative;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
}

.home-img .circle {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-img .circle::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}


/* ======================================
======  Dwonlead App Section CSS =======*/

#plate-maker {
    padding: 20px 50px;
}


/* ======================================
======  CONTACT US SECTION STYLE ========
========================================*/

.contact {
    background-color: var(--black-100);
}

.contact-info h3 {
    font-size: 22px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 40px;
}

.contact-info-item {
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}

.contact-info-item i {
    left: 0;
    top: 0;
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    text-align: center;
    line-height: 38px;
}

.contact-info-item h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    color: var(--black-900);
}

.contact-info-item p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 26px;
    color: var(--black-400);
}

.cotact-form .form-group {
    margin-bottom: 25px;
}

.cotact-form .form-control {
    height: 52px;
    border: 1px solid transparent;
    border-radius: 30px;
    box-shadow: var(--shadow-black-100);
    padding: 0 1.5rem;
    color: var(--black-900);
    background: var(--black-000);
    transition: all 0.5s ease;
}

.cotact-form .form-control:focus {
    border-color: var(--main-color);
}

.cotact-form textarea.form-control {
    padding-top: 12px;
    height: 140px;
    resize: none;
}


/* ======================================
======  FOOTER SECTION STYLE ============
========================================*/

.footer {
    background-color: var(--main-color)!important;
    padding: 50px 0 0;
}

.footer-col h3 {
    font-size: 22px!important;
    font-weight: 500!important;
    color: #f7f7f7!important;
    margin: 0 0 25px!important;
}

.footer-col p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
}

.footer-col ul {
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    display: block;
    transition: all 0.5s ease;
    text-decoration: none;
}

.footer-col ul li a:hover {
    padding-left: 5px;
}

.footer .copyright-text {
    margin: 50px 0 0;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}


/* ======================================
======  DARK & LIGHT THEME STYLE ========
========================================*/

.toggle-theme {
    position: fixed;
    left: 0;
    top: calc(50% - 5px);
    height: 40px;
    width: 40px;
    z-index: 1200;
    background-color: var(--dark-to-main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}